
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>What do you want to do?</title>
    </head>
    <body>
        <div>
            <ul>
                <li><a href="/NewOrder">New Order</a></li>
                <li><a href="/ViewOrders">View Orders</a></li>
            </ul>
        </div>
    </body>
</html>