<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ReadStore" connectionString="server=(local);database=DddCqrsExample_ReadStore;trusted_connection=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
