@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To get the code for this app visit <a href="https://github.com/nbarnwell/OrderManagementSystem" title="Neil Barnwell's OrderManagementSystem Github page.">https://github.com/nbarnwell/OrderManagementSystem</a>.
</p>
