@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron move-down jumbotron-sweets">
    <div class="well">
        <h1>Sweet Shop</h1>
        <p class="lead">The Sweet Shop is a sample application demonstrating a number of technologies and patterns.</p>
        <p><a href="/shop" class="btn btn-primary">Start Shopping</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>Go to the shop, add some sweets to your basket, and then place your order.</p>
    </div>
    <div class="col-md-6">
        <h2>Source Code</h2>
        <p>Source code is available on GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/nbarnwell/ordermanagementsystem">Learn more &raquo;</a></p>
    </div>
</div>