@model IEnumerable<DddCqrsEsExample.Web2.Models.Shopping.AddToBasketViewModel>

@{
    ViewBag.Title = "Your Basket";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            Description
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
    </tr>
}

</table>

    @using (Html.BeginForm("PlaceOrder", "Shop"))
    {
        <input type="submit" value="Place Order" class="btn btn-primary pull-left"/>
    }
    @using (Html.BeginForm("EmptyBasket", "Shop"))
    {
        <input type="submit" value="Empty Basket" class="btn btn-default"/>
    }