@model DddCqrsEsExample.Web.ViewModels.OrderListItemViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>All Orders</title>
    </head>
    <body>
        <div>
            <ul>
            @foreach(var order in Model.Items)
            {
                <li><a href="/Order/@order.Id">@order.Id</a></li>
            }
            </ul>
        </div>
    </body>
</html>